{% block sw_cms_element_emzplaceholder_preview %}
    <div class="sw-cms-el-preview-emzplaceholder">
        <img :src="'/custom/plugins/EmzPlatformZigarrenversandTheme-main/src/Resources/public/static/img/cms/preview_emzimagetexteditor_element.png' | asset">
    </div>
{% endblock %}
