{% block sw_cms_block_emzimagetextblock_preview %}
    <div class="sw-cms-preview-emzimagetextblock">
        <img :src="'/EmzPlatformZigarrenversandTheme-main/src/Resources/public/static/img/cms/preview_emzimagetext_element.png' | asset">
    </div>
{% endblock %}
