{% block sw_cms_block_emzimagetextblock %}
<div class="sw-cms-block-emzimagetextblock">
        <slot name="emz-image-element"></slot>
        <slot name="emz-text-element"></slot>
</div>
{% endblock %}